---
layout: archive
---

<h2>About me</h2>
<p>I am a second-year master student majored in computer science and engineering in Beihang university. I am expected to graduate at the end of 2024 and currently applying for a PhD.</p>
<p>My current research interests include <strong>knowledge tracing, recommendation, graph learning, uncertainty</strong>.</p>
<p>I am an &quot;advocate&quot; (INFJ) person, idealistic, passionate about life, enthusiastic about scientific research. I always want to get rid of the appearance of things to get to the essence, and devote the full of myself to it.</p>
<h2>Education</h2>
<ul>
<li>Master, Beihang University, school of computer science and engineering, 2022.9~now</li>
<li>Bachelor, Beihang University, school of computer science and engineering, 2018.9~2022.6</li>
<li>Language: IELTS 7.5</li>
</ul>

<h2>
    Research
</h2>
<ul>
    Here is a list of my recent papers. More details in <a href="https://lucasli1015.github.io/papers/">Papers</a>
    <li><a href="https://arxiv.org/abs/2405.14391">Explainable Few-shot Knowledge Tracing</a></li>
    <li><a href="https://arxiv.org/abs/2404.05962">Wasserstein Dependent Graph Attention Network for Collaborative Filtering with Uncertainty</a></li>
    <li><a href="https://journal.hep.com.cn/fde/EN/10.3868/s110-009-024-0004-9">A Review of Data Mining in Personalized Education: Current Trends and Future Prospects</a></li>
</ul>

<!-- here is the table of my papers, two columns, left is the picture, right is the title followed by a link icon, authors in new line, published date & conference in new line, TLDR in new line-->
<table>
<!-- complete the table with your own papers, pictures need to be smaller -->
<tr>
    <td><img src="/assets/img/papers/EFKT.png" alt="explainable_fewshot_knowledge_tracing" sizes="(max-width: 100px)"></td>
    <td>
        <a href="https://arxiv.org/abs/2405.14391">Explainable Few-shot Knowledge Tracing</a>
        <br>
        Haoxuan Li, 
        <br>
        <i>arxiv preprint, 2024</i>
        <br>
        <p>TLDR</p>
    </td>
</tr>
</table>


<h2>Skills &amp; Languages</h2>
<ul>
<li>★★★ Python, Torch</li>
<li>★★☆ Tensorflow</li>
<li>★★☆ Java, C</li>

</ul>
<ul>
<li>★★★ Chinese</li>
<li>★★☆ English</li>

</ul>
<h2>Hobbies</h2>
<ul>
<li>Addictive footballer⚽</li>
<li>Photography📷</li>
<li>Cycling🚲</li>

</ul>


{% include paginator.html %}